---
interface Props {
  color?: string;
}

const { color = 'border-l-indigo' } = Astro.props;
---

<div class:list={['p-[18px_22px] bg-paper-2 border-l-[3px] my-6 text-[0.92em]', color]}>
  <slot />
</div>
