---
import { t } from '../i18n/utils';

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<footer class="bg-dark border-t border-paper/[0.06] px-10 py-6 text-center font-mono text-[10px] tracking-[2px] text-paper/35">
  ARCANESYS ·
  <a href="https://github.com/arcanesys" target="_blank" rel="noopener" class="text-[#818cf8] no-underline">github.com/arcanesys</a> ·
  <a href="mailto:contact@arcanesys.fr" class="text-[#818cf8] no-underline">contact@arcanesys.fr</a>
  <br /><br />
  {t(lang, 'footer.license')}
</footer>
